<table class="table">
    <thead>
      <tr>
        <th colspan="5">
          <button>Agregar</button> <!-- Botón de agregar -->
        </th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha de Salida</th>
        <th scope="col">Hora de Salida</th>
        <th scope="col">Fecha de LLegada</th>
        <th scope="col">Hora de llegada</th>
        <th scope="col">Lugar de Salida</th>
        <th scope="col">Lugar de Destino</th>
        <th scope="col">Hora de Abordaje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button>Agregar</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><button>Agregar</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td><button>Agregar</button></td>
      </tr>
    </tbody>
  </table>
  