<table class="table">
    <thead>
      
      <tr>
        <th scope="col">ID vuelo</th>
        <th scope="col">Fecha de Salida</th>
        <th scope="col">Hora de Salida</th>
        <th scope="col">Fecha de LLegada</th>
        <th scope="col">Hora de llegada</th>
        <th scope="col">Lugar de Salida</th>
        <th scope="col">Lugar de Destino</th>
        <th scope="col">Hora de Abordaje</th>
        

        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>


      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vuelos of vuelos">
            <td>{{vuelos.idVuelo}}</td>
            <td>{{vuelos.fechaSalida}}</td>
            <td>{{vuelos.horaSalida}}</td>
            <td>{{vuelos.fechaLlegada}}</td>
            <td>{{vuelos.horaLlegada}}</td>
            <td>{{vuelos.lugarSalida}}</td>
            <td>{{vuelos.lugarDestino}}</td>
            <td>{{vuelos.horaAbordaje}}</td>

            <td><button  class="nav-link" routerLink="/editar">Editar</button>
              <td><button (click)="eliminarVuelo(vuelos.idVuelo)" type="button" class="btn btn-danger">Eliminar</button> </td>

        </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>